html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

*{
    scroll-margin-top: 140px;
}


html,
body {
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        color: inherit;
    }
}

button:focus,
input:focus {
    outline: transparent;
}

li {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    overflow-x: hidden;
    min-width: 320px;
    max-width: 100vw;
    cursor: default;
    color: #272729;
    font-family: 'Mont';
    font-weight: 400;
}

.main {
    flex: 1 1 auto;
    padding-top: 140px;
}

.pagewrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.red-btn{
    text-transform: uppercase;
    padding: 16px 34px;
    color: #fff;
    background-color: #F5370D;
    transition: .5s;
    font-size: 19px;
    font-weight: 700;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    &:hover{
        background-color: #FFD500;
        color: #000;
    }
}

.secttitle{
    color: #272729;
    font-size: 50px;
    font-weight: 800;
    line-height: 130%;
    span{
        font-weight: 900;
        font-size: 70px;
        line-height: 100%;
        position: relative;
        text-decoration: underline 3px #FFD300;
        text-underline-offset: 10px;
    }
}


@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1344px;
    }
}


@media (max-width: 1399.8px) {
    .main {
        padding-top: 110px;
    }
    *{
        scroll-margin-top: 110px;
    }
    
    .secttitle {
        font-size: 42px;
        span {
            font-size: 55px;
        }
    }
}

@media (max-width: 1199.8px) {
    .secttitle {
        font-size: 36px;
        span {
            font-size: 45px;
        }
    }
}

@media (max-width: 991.8px) {
    .secttitle {
        font-size: 32px;
        span {
            font-size: 40px;
        }
    }
}

@media (max-width: 575.8px) {
    .main {
        padding-top: 100px;
    }
    *{
        scroll-margin-top: 100px;
    }
    .red-btn {
        width: 100%;
        height: 45px;
        padding: 5px 20px;
        font-size: 12px;
    }
    .secttitle {
        font-size: 25px;
        span {
            font-size: 25px;
        }
    }
}

@media (max-width: 424.8px) {

    .main {
        padding-top: 80px;
    }
    *{
        scroll-margin-top: 80px;
    }

    .secttitle {
        font-size: 23px;
        span {
            font-size: 23px;
            text-decoration: none
        }
    }
}